In [41]:
import pandas as pd

df = pd.read_csv('titanic_prepare.csv',sep=';') 
#df = pd.read_csv('titanic3.csv')

In [47]:
df.head(5)

    IDEN  CLASS  AGE  SEX  SURV
0  P0001      1    1    1     1
1  P0002      1    1    1     1
2  P0003      1    1    1     1
3  P0004      1    1    1     1
4  P0005      1    1    1     1

In [33]:
print('number of observations={0}'.format(len(df)))

number of observations=2201

In [43]:
df.describe()

             CLASS          AGE          SEX         SURV
count  2201.000000  2201.000000  2201.000000  2201.000000
mean      1.368923     0.950477     0.786461     0.323035
std       1.295874     0.217006     0.409898     0.467742
min       0.000000     0.000000     0.000000     0.000000
25%       0.000000     1.000000     1.000000     0.000000
50%       1.000000     1.000000     1.000000     0.000000
75%       3.000000     1.000000     1.000000     1.000000
max       3.000000     1.000000     1.000000     1.000000

In [44]:
df['SURV'].value_counts(sort=True)

0    1490
1     711
Name: SURV, dtype: int64

In [36]:
df['CLASS'].value_counts(sort=True)

0    885
3    706
1    325
2    285
Name: CLASS, dtype: int64

In [37]:
df['AGE'].value_counts(sort=True)

1    2092
0     109
Name: AGE, dtype: int64

In [45]:
df['SEX'].value_counts(sort=True)

1    1731
0     470
Name: SEX, dtype: int64

In [10]:
from scipy import stats